---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "免責事項";
const pubDate = "2025-12-01";
const modDate = "2025-12-20";
const descrioption = "NAOMINA121の免責事項について記載しています。";
---

<PageLayout pageTitle={pageTitle} pubDate={pubDate} modDate={modDate} description={descrioption}>
<p>【Naomina121】(以下「当ブログ」)の免責事項を載せます。</p>
<hr>
<p>当ブログは、趣味で作られたサイトです。</p>
<p>当ブログは特定の治療法・思想・商品を推奨するものではありません。</p>
<p>当ブログは、メンタルヘルスや情報リテラシーに関する情報を発信しておりますが、医師・専門家による診断・助言ではありません。</p>
<h2>掲載内容の責任範囲</h2>
<p>掲載されている内容に基づく行動・判断については、利用者ご自身の責任において行ってください。</p>
<p>当ブログの情報により生じたいかなる損害についても、当方は一切の責任を負いません。</p>
<p>各コンテンツでは、できる限り正確な情報提供を心がけておりますが、正確性や安全性を保証するものではありません。</p>
<p>また、リンク先の他サイトで提供される情報・サービスについても、責任を負いかねますのでご了承ください。</p>
<h2>AI支援ツールの活用</h2>
<p>作成された記事に関しては、著者の体験・調査・執筆に基づくものですが、一部の文章構成・表現においてAI編集ツールの支援を受けている場合があります。</p>
<p>また、外部情報や公開資料を参考にした上で、独自に編集・リライトした内容を含む場合があります。</p>
<p>変更履歴：<a href="https://github.com/naomina121/naomina121-astro/blob/main/src/pages/disclaimer.astro" target="_blank">Github</a></p>
<p>制定日:：2025年12月1日</p>
<p>更新日：2025年12月20日</p>
<p>運営者：ナオ（Naomina121）</p>
</PageLayout>
