---
import Layout from "../layouts/Layout.astro";
const pageTitle = "ナオのブログ | NAOMINA121";
---

<Layout pageTitle={pageTitle}>
<main id="article-body" class="w-full max-w-6xl bg-[#1e1e1e] px-16 pb-[60px] border-l-[1px] border-[#3c3c3c]">
<h1>ナオの活動拠点</h1>
<p>ここではナオの活動拠点を紹介します。</p>
<h2>サイトリスト</h2>
<h3>テキストサイト</h3>
<ul class="menu-list">
<li><a href="https://dev.naomina121.com" target="_blank">プログラミング学習サイト</a></li>
</ul>
<h3>画像作品集</h3>
<ul class="menu-list">
<li><a href="https://naomina121.tumblr.com/" target="_blank">ナオの画像作品集</a></li>
</ul>
<h3>その他</h3>
<ul class="menu-list">
<li><a href="https://x.com/naomina121" target="_blank">X</a></li>
<li><a href="https://x.com/one_2025_" target="_blank">oneのXアカウント</a></li>
<li><a href="https://x.com/naomina1201" target="_blank">日常垢のXアカウント</a></li>
<li><a href="https://x.com/minamiemi2006" target="_blank">英語学習(橋本直美）のXアカウント</a></li>
<li><a href="https://mastodon.naomina121.com/@naomina121" target="_blank">Mastdon</a></li>
<li><a href="https://mastodon.naomina121.com/@one_2025_" target="_blank">oneのMastdonアカウント</a></li>
<li><a href="https://mastodon.naomina121.com/@naomina1201" target="_blank">日常垢のMastdonアカウント</a></li>
<li><a href="https://mastodon.naomina121.com/@minamiemi2006" target="_blank">英語学習(橋本直美）のMastdonアカウント</a></li>
<li><a href="https://note.com/naomina121_note" target="_blank">note</a></li>
<li><a href="https://note.com/one_2025_" target="_blank">oneのnoteアカウント</a></li>
</ul>
</main>
</Layout>
