---
import Layout from "../layouts/Layout.astro";
import MainToc from "../components/MainToc.astro";
const pageTitle = "メンタルヘルス";
const PubDate = "2025-12-01";
const ModDate = "2025-12-14";
---

<Layout pageTitle={pageTitle} PubDate={PubDate} ModDate={ModDate}>
<main id="article-body" class="w-full max-w-6xl bg-[#1e1e1e] px-16 pb-[60px] border-l-[1px] border-[#3c3c3c]">
<h1>メンタルヘルス</h1>
    <ul class="tags mb-0 flex flex-wrap gap-2 my-0 w-full justify-end">
        <li class="mb-2 text-sm">📰作成日: {PubDate.toString().slice(0,10)}</li>
        {ModDate && <li class="mb-2 text-sm">✏️最終更新日: {ModDate.toString().slice(0,10)}</li>}
    </ul>
<img class="profile-picture max-w-full h-auto" src="/images/mental-health.jpg" alt="メンタルヘルス" />
<h2>目次</h2>
<MainToc />
<h2>概要</h2>
<p>メンタルヘルスを高めることで健康意識を強くするというのが目的です。
<br>
幸福度を追求するには<a href="/info-literacy/" class="link">情報リテラシー</a>とメンタルヘルス向上は欠かせません。
</p>
<h2>記事</h2>
<h3>メンタルヘルスを情報リテラシーから考える</h3>
<span>タグ：<a href="/tags/情報リテラシー" class="link">情報リテラシー</a></span>
<ul class="menu-list">
<li><a href="/mental-health/why-we-trust-medical-information">なぜ医師の記事なのに信じてしまうのか？― 悪意のない医療情報が、患者を傷つけるまで ―</a></li>
</ul>
<h3>考えからメンタルヘルスを鍛える</h3>
<span>タグ：<a href="/tags/考え方" class="link">考え方</a></span>
<ul class="menu-list">
<li><a href="/mental-health/sns-sos">SNSに現れる見えないSOS</a></li>
<li><a href="/mental-health/sns-sos2">ありきたりの文章に見えて実は裏がある文章 -SOSに現れる見えないSOS-</a></li>
</ul>
<h3>体験談</h3>
<span>タグ：<a href="/tags/体験談" class="link">体験談</a></span>
<ul class="menu-list">
<li><a href="/mental-health/schizophrenia">統合失調症当事者が見た妄想の世界（ログ付き）</a></li>
<li><a href="/mental-health/journaling">瞑想が面倒？書く瞑想を私の体験談として紹介します！</a></li>
<li><a href="/mental-health/vps-ghost">保護入院中の状況の中、VPS立ててGhostと戦った患者の記録</a></li>
</ul>
<h3>ミニコラム</h3>
<span>タグ：<a href="/tags/ミニコラム" class="link">ミニコラム</a></span>
<ul class="menu-list">
<li><a href="/mental-health/serotonin">【悲報】セロトニン「ちょっと冬だから、休むわ」</a></li>
</ul>

</main>
</Layout>
