---
const isIndex = Astro.url.pathname === "/";
const isProfile = Astro.url.pathname.startsWith("/profile/");
const isAbout = Astro.url.pathname === "/profile/about";
const isNobodyPerfect = Astro.url.pathname === "/profile/nobody-perfect";
const isNaoAnalysis = Astro.url.pathname === "/profile/nao-analysis";
import Toc from '@components/Toc.astro';
---
<aside class="w-[250px] mt-0 pr-8">
<a href="/"><img class="site-logo" src="/images/naomina.jpg" alt="naomina121のアイコン" />
{isIndex && (<h1 class="site-name">NAOMINA121</h1>)}{!isIndex && (<p class="site-name">NAOMINA121</p>)}</a>
<nav>
    <ul class="nav-links">
        <li><a href="/profile/about">プロフィール</a>
{isProfile && (<ul class="profile-submenu ml-4 mt-2">
    {isAbout && (<li><span class="current">私について</span></li>)}
    {!isAbout && (<li><a href="/profile/about">私について</a></li>)}
    {isNobodyPerfect && (<li><span class="current">完璧な人間なんていない</span></li>)}
    {!isNobodyPerfect && (<li><a href="/profile/nobody-perfect">完璧な人間なんていない</a></li>)}
    {isNaoAnalysis && (<li><span class="current">ナオの分析結果</span></li>)}
    {!isNaoAnalysis && (<li><a href="/profile/nao-analysis">ナオの分析結果</a></li>)}
    </ul>)}
        </li>
        <li><a href="/mental-health/">メンタルヘルス</a></li>
        <li><a href="/info-literacy/">情報リテラシー</a></li>
        <li><a href="/blog/">ナオのブログ</a></li>
        <li><a href="/podcast/">ナオの音声ブログ</a></li>
        <li><a href="/materials/materials-entrance">ナオの資料室</a></li>
        <li><a href="/links/">ナオの活動拠点</a></li>
    </ul>
</nav>
{!isIndex && (
  <Toc />
)}
</aside>