---
---
<input type="checkbox" id="menu-toggle" class="hidden" />
<label for="menu-toggle" class="sp-label cursor-pointer items-center gap-2">
<img class="w-10 h-10 rounded-full" src="/images/naomina.jpg" alt="naomina121のアイコン" />
<span class="text-xs sp-open">MENU</span>
</label>
<div class="sp-sidebar fixed top-0 left-0 w-64 h-full bg-[#292929] shadow-md z-50">
    <div class="p-4">
        <label for="menu-toggle" class="cursor-pointer">
            <span class="text-4xl">×</span>
            <span class="text-xs mb-6 block sp-close">CLOSE</span>
        </label>
        <ul class="sp-menu">
        <li><a href="/" class="block py-2 px-4">ホーム</a></li>
        <li><a href="/profile/about" class="block py-2 px-4">プロフィール</a></li>
        <li><a href="/blog/" class="block py-2 px-4">ナオのブログ</a></li>
        <li><a href="/podcast/" class="block py-2 px-4">ナオの音声ブログ</a></li>
        <li><a href="/links/" class="block py-2 px-4">ナオの活動拠点</a></li>
        </ul>
    </div>


</div>