---
const isIndex = Astro.url.pathname === "/";
---
<input type="checkbox" id="menu-toggle" class="hidden" />
<label for="menu-toggle" class="sp-label cursor-pointer items-center gap-2">
<a href="/" class="site-name text-4xl inline-block font-bold mb-4" aria-hidden="true">NAOMINA121</a>

    <span>
<img class="w-10 h-10 rounded-full" src="/images/naomina.jpg" alt="naomina121's icon" />
<span class="text-xs sp-open">MENU</span>
</span>
<span class="text-4xl sp-batu">×</span>
</label>
<div class="sp-sidebar fixed top-0 left-0 w-64 h-full bg-[#292929] shadow-md z-50">
    <div class="p-4">
<a href="/" class="site-name text-4xl inline-block font-bold mb-4" aria-hidden="true">NAOMINA121</a>
<ul class="sp-menu">
        <li><a href="/" class="block py-2 px-4">トップページ</a></li>
                <li><p class="font-bold px-4 py-2">当サイトについて</p>
                        <ul class="mb-4">
    <li><a href="/about/" class="block py-2 px-6">当サイトについて</a></li>
    <li><a href="/about/mental-health-and-information-literacy/" class="block py-2 px-4">なぜメンタルヘルス × 情報リテラシーか</a></li>
    <li><a href="/about/non-commercial-policy/" class="block py-2 px-4">広告を置かない・収益を目的にしない理由</a></li>
    <li><a href="/about/writing-guidelines/" class="block py-2 px-4">記事を書くときに避けている表現</a></li>
    <li><a href="/about/how-i-think/" class="block py-2 px-4">私がなぜ分析欲求が高いのかについて</a></li>
    <li><a href="/about/design-philosophy/" class="block py-2 px-4">当サイトはなぜ、高級感あふれる金色と黒を基調としたデザインを採用したのか？</a></li>
    <li><a href="/about/ai-content-policy/" class="block py-2 px-4">AI使用に関する当サイトの品質基準</a></li>
    <li><a href="/about/cc-by-nc-nd/" class="block py-2 px-4">当サイトや記事のライセンスについて（引用に関する事項）</a></li>
                </ul>
</li>
        <li>
<p class="font-bold px-4 py-2">プロフィール</p>
            <a href="/profile/about" class="block py-2 px-4">ナオについて</a>
        <ul class="mb-4">
            <li><a href="/profile/nobody-perfect" class="block py-2 px-6">完璧な人間なんていない</a></li>
            <li><a href="/profile/nao-analysis" class="block py-2 px-6">ナオの分析結果</a></li>
        </ul></li>
        <li>
            <p class="font-bold px-4 py-2">メインコンテンツ</p>
            <a href="/mental-health/" class="block py-2 px-4">メンタルヘルス</a></li>
        <li><a href="/info-literacy/" class="block py-2 px-4">情報リテラシー</a></li>
        <li><a href="/blog/" class="block py-2 px-4">ナオのブログ</a></li>
        <li><a href="/podcast/" class="block py-2 px-4">ナオの音声ブログ</a></li>
        <li><a href="/materials/materials-entrance" class="block py-2 px-4">ナオの資料室</a></li>
        <li><a href="/links/" class="block py-2 px-4">ナオの活動拠点</a></li>
        </ul>
    </div>


</div>