---
import "../styles/global.css";
import Footer from '@components/Footer.astro';
import Sidebar from '@components/Sidebar.astro';
import Sp from '@components/Sp.astro';
const { pageTitle } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, 'https://naomina121.com');
const ogpImageURL = new URL('/nao2.jpg', canonicalURL);
const websiteSchema = {
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "naomina121",
  "url": "https://naomina121.com",
  "description": "ナオの公式サイトです。ブログ、音声ブログ、プロフィール、活動拠点などの情報を発信しています。",
};

const isContact = Astro.url.pathname.startsWith("/contact/");
---
<!doctype html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns#">
  <script is:inline src="https://www.google.com/recaptcha/api.js"></script>
  <script is:inline>
  function onSubmit(token) {
    let form = document.getElementById('contact-form');
    if(form.reportValidity()) {
      form.submit();
    }
  }</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VGYCVR3R5F"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VGYCVR3R5F');
</script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content={ogpImageURL} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script type="application/ld+json" set:html={JSON.stringify(websiteSchema)} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="container flex justify-between items-start align-top mx-auto max-w-[1200px]">
    <Sp />
    <Sidebar />
    <slot />
    </div>
    <Footer />
  </body>
</html>

